{% extends 'libros/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'libros/css/consultar_libros.css' %}">
{% endblock extra_head %}

{% block Titulo %} PRESTAMOS {% endblock Titulo %}

{% block encabezado %}
{% if user.is_authenticated %}
<div class="botones-header">
    <a href="{% url 'menu' %}" class="btn-volver">Volver al Menú</a>
    <a href="{% url 'logout' %}" class="btn-logout">Cerrar Sesión</a>
</div>
{% endif %}
{% endblock encabezado %}

{% block content %}
<div class="contene">
    {% for prestamo in prestamos%}
    <div class="libro-container">
      <h2 class="libro-title">{{prestamo.titulo_libro}}</h2>
    
      <p class="libro-meta">
        Realizado Por: {{prestamo.nombre_usuario}} |
        Fecha del Prestamo: {{prestamo.fecha_prestamo}} |
        Fecha de Devolucion: {{prestamo.fecha_devolucion}}
      </p>

      <div class="libro-actions">
      {% if not prestamo.devuelto %}
      {% if request.user.is_staff or request.user.is_superuser %}
        <form method="post" action="{% url 'devolver_prestamo' prestamo.id %}">
         {% csrf_token %}
         <button type="submit" class="pendiente">Marcar devuelto</button>
        </form>
      {% endif %}
      {% else %}
        <p class="entregado">Estado: Devuelto</p>
      {% endif %}
      </div>
    </div>
    
    {%empty%}
    <p class="libro-title-no">No haz realizado prestamos</p>
    {% endfor %}
</div>
{% endblock content %}